.homepage-wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top-bar {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  box-sizing: border-box;
  padding: 6px;
  height: 60px;
}

a {
  text-decoration: none;
  size: 14px;
}

.top-bar a {
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  color: #222;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.personal-group {
  display: inline-block;
  flex-grow: 1;
}

.personal-group-wrapper {
  position: relative;
  min-width: auto;
  padding: 0 4px;
}

.personal-group-content {
  display: flex;
  justify-content: flex-end;
  padding-left: 32px;
  padding: 0 4px;
  align-items: center;
}

.img-border:hover {
  background-color: lightgray;
  border-radius: 50%;
}

.profile_pic img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 290px;
  max-height: 290px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.logo-div {
  max-height: 92px;
  position: relative;
  height: 100%;
  margin-top: auto;
}

.form-section {
  padding: 20px;
  max-height: 160px;
  flex-shrink: 0;
  box-sizing: border-box;
  display: block;
}

.form-section-searchbar {
  display: flex;
  justify-content: space-between;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  align-items: center;
  border-radius: 24px;
  height: 44px;
  width: 482px;
  max-width: 584px;
  margin: 0 auto;
  padding: 0 15px;
}

.searchbar-contents {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
}
.searchbar:hover {
  border: 1px solid white;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.form-section-searchbar input {
  width: 80%;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background: white;
  outline: none;
}

.form-section-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
}

.form-section-buttons button {
  background-color: rgb(250, 250, 250);
  padding: 1rem;
  border: 1px solid rgb(239, 239, 239);
  border-radius: 5px;
  margin: 0.3rem;
}

.form-section-buttons button:hover {
  /* border:1px solid white; */
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border: 1px solid rgb(239, 239, 239);
  color: #222222;
}

.footer {
  background-color: #f2f2f2;
  flex-shrink: 0;
  box-sizing: border-box;
  width: 100%;
  max-height: 100px;
  position: absolute;
  bottom: 0;
}
